*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
kotlin-js-store/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
venv/
.cache/
.kotlin/

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/